body {
  font-family: 'Arial','verdana';
}

body.loggedIn > #loginBox {
  display: none;
}

body:not(.loggedIn) > #main {
  display: none;
}

.border {
  border: solid black 1px;
}

.log {
  font-size: 10;
  font-family: 'Arial','verdana';
  color: darkgray;
}

#calendar-display {
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
}

#calendar-display thead td {
  font-weight: bold;
  text-decoration: underline;
}

#new-event-form {
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
}

#log-wrapper {
  font-size: 10;
  margin: 5px;
  padding: 5px;
}